.tf_btn {
  display: inline-block;
  padding: calc(var(--key-size) * 0.425) calc(var(--key-size) * 0.625);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: calc(var(--key-size) * 0.125);
  vertical-align: middle;
  text-align: center;
  color: inherit;
  font-size: var(--key-size);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
.tf_btn-primary {
  background-color: var(--primary-color);
  color: var(--positive-color);
}
