.tf_btn {
  display: inline-block;
  padding: calc(var(--key-size) * 0.425) calc(var(--key-size) * 0.625);
  background-color: transparent;
  border: calc(var(--key-size) * 0.0625) solid transparent;
  border-radius: calc(var(--key-size) * 0.125);
  vertical-align: middle;
  text-align: center;
  color: inherit;
  font-size: var(--key-size);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
.tf_btn:disabled {
  pointer-events: none;
}
.tf_btn:focus {
  outline: 0;
}
.tf_btn-primary {
  background-color: var(--primary-color);
  color: var(--positive-color);
}
.tf_btn-primary:hover {
  background-color: var(--primary-color-d1);
}
.tf_btn-primary:disabled {
  color: var(--positive-color-75);
  background-color: var(--primary-color-l1);
}
.tf_btn-primary:focus {
  background-color: var(--primary-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--primary-color-l1);
}
.tf_btn-secondary {
  background-color: var(--secondary-color);
  color: var(--positive-color);
}
.tf_btn-secondary:hover {
  background-color: var(--secondary-color-d1);
}
.tf_btn-secondary:disabled {
  color: var(--positive-color-75);
  background-color: var(--secondary-color-l1);
}
.tf_btn-secondary:focus {
  background-color: var(--secondary-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--secondary-color-l1);
}
.tf_btn-info {
  background-color: var(--info-color);
  color: var(--positive-color);
}
.tf_btn-info:hover {
  background-color: var(--info-color-d1);
}
.tf_btn-info:disabled {
  color: var(--positive-color-75);
  background-color: var(--info-color-l1);
}
.tf_btn-info:focus {
  background-color: var(--info-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--info-color-l1);
}
.tf_btn-success {
  background-color: var(--success-color);
  color: var(--positive-color);
}
.tf_btn-success:hover {
  background-color: var(--success-color-d1);
}
.tf_btn-success:disabled {
  color: var(--positive-color-75);
  background-color: var(--success-color-l1);
}
.tf_btn-success:focus {
  background-color: var(--success-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--success-color-l1);
}
.tf_btn-warning {
  background-color: var(--warning-color);
  color: var(--positive-color);
}
.tf_btn-warning:hover {
  background-color: var(--warning-color-d1);
}
.tf_btn-warning:disabled {
  color: var(--positive-color-75);
  background-color: var(--warning-color-l1);
}
.tf_btn-warning:focus {
  background-color: var(--warning-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--warning-color-l1);
}
.tf_btn-error {
  background-color: var(--error-color);
  color: var(--positive-color);
}
.tf_btn-error:hover {
  background-color: var(--error-color-d1);
}
.tf_btn-error:disabled {
  color: var(--positive-color-75);
  background-color: var(--error-color-l1);
}
.tf_btn-error:focus {
  background-color: var(--error-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--error-color-l1);
}
