.tf_block {
    position: relative;
    display: grid;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    > * {
        border: var(--border-width, calc(var(--key-size) * .0625)) solid var(--border-color, var(--negative-color-15));
        background-clip: padding-box;
        &:not(:first-child) {
            border-top-width: 0;
        }
        &:first-child {
            border-top-left-radius: var(--rounded-1, calc(var(--key-size) * .125));
            border-top-right-radius: var(--rounded-1, calc(var(--key-size) * .125));
        }
        &:last-child {
            border-bottom-left-radius: var(--rounded-1, calc(var(--key-size) * .125));
            border-bottom-right-radius: var(--rounded-1, calc(var(--key-size) * .125));
        }
    }

    &-header,
    &-footer {
        display: inline-flex;
        align-items: baseline;
        padding: calc(var(--key-size) * .375) calc(var(--key-size) * .75);        
        background-color: var(--negative-color-15);
        line-height: 1.5;
    }
    &-body {
        padding: calc(var(--key-size) * .75);
        background-color: var(--positive-color);
    }
}

@btn-names: primary, secondary, info, success, warning, error;
each(@btn-names, {
    .tf_block-@{value} {
        > * {
            border-color: var(~"--@{value}-color-l1");
            color: var(~"--@{value}-color-d1");
        }
        .tf_block-header {
            background-color: var(~"--@{value}-color-l1");
            
        }
        .tf_block-footer {
            background-color: var(~"--@{value}-color-l1");
        }
    }
});