.tf_details {
    summary {
        align-content: center;
        display: flex;
        list-style: none;
        cursor: pointer;
        &::before {
            content: "\f054";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 50%;
            text-rendering: auto;
            margin: auto .5rem auto 0;
            transition: .25s;
        }
    }
    &[open] {
        summary {
            &::before  {
                transform: rotate(90deg);
            }
        }
    }
}
